header {
    .header {
        background-image: $background-image-line;
        background-repeat: repeat-x;
        background-size: 100% 35%;
        height: 90px;
        flex-grow: 0;
    }

    .header__img {
        padding-left: 2rem;
        z-index: 9999;

        .img__logo {
            width: 11rem;
            height: 4rem;
            position: absolute;

            &.ru {
                background: $logo-image--ru no-repeat center center;
            }
            
            &.en {
                background: $logo-image--en no-repeat center center;
            }
        }
    }

    .header__menu {
        padding-right: 2rem;
        color: $gray-light;
        font-size: $font-size--smallest;
        text-transform: uppercase;
        letter-spacing: 0.2px;

        @include font-bold();

        ul {
            list-style-type: none;
            font-size: 0;
            height: 32px;

            li {
                font-size: 12px;
                color: $key-container-dark;

                a {
                    display: inline-block;
                    padding-top: 0.5rem;
                    padding-bottom: 0.6rem;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    color: $gray-light;
                    text-decoration: none;

                    &:active {
                        color: $key-container-dark;
                    }
                }

                a.selected {
                    color: $key-container-dark;
                    border-bottom: 2px solid $key-container-dark;
                    text-decoration: none;
                }
            }
        }
    }

    .header__userinfo {
        margin-left: 180px;
        margin-top: -30px;
        margin-bottom: 10px;
        margin-right: 20px;
        padding: 10px 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        p {
            font-weight: bold;
        }

        .header__userinfo--balance {
            font-weight: bold;
            font-size: 24px;
        }
    }
}
