$font-family:"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

$background-image-line:url('./images/bgr_body.png');
$logo-image:url('./images/logo.png');
$ecp-image--active:url('./images/usb_current.png');
$ecpsc-image--active: url('./images/smartcard_current.png');
$pinpad-image--active: url('./images/pinpad_current.png');
$ecpweb-image--active: url('./images/usb_current.png');
$unknown-image--active: url('./images/microsd_current.png');
$ecp-image:url('./images/usb.png');
$ecpsc-image: url('./images/smartcard.png');
$pinpad-image: url('./images/pinpad.png');
$ecpweb-image: url('./images/usb.png');
$unknown-image: url('./images/microsd.png');
$smart-image:url('./images/icon-2.png');
$vpn-image:url('./images/ic-vpn-key-24-px.png');
$edit-image:url('./images/ic-edit-24-px-1.png');
$edit-image--green:url('./images/ic-edit-24-px-1_green.png');
$eye-image:url('./images/show-off.png');
$eye-image--active:url('./images/show-on.png');
$warning-image:url('./images/ic-announcement-24-px-1.png');
$success-circle-image:url('./images/tick-inside-circle.png');
$error-circle-image:url('./images/tick-inside-circle-error.png');
$trash-image:url('./images/ic-rubbish-bin-delete-button.png');
$keyandcert-image:url('./images/ic-key-sert.png');
$cert-image:url('./images/ic-beenhere-24-px.png');
$cert-image--black:url('./images/ic-beenhere-24-px-black.png');
$upload-image--green:url('./images/ic-get-app-black-24-px.png');
$remove-image--green:url('./images/ic-rubbish-bin-delete-button_green.png');
$losttoken-image:url('./images/pic3.png');
$docwithsign-image:url('./images/pic.png');
$sign-image:url('./images/combined-shape.png');
$signeddoc-image:url('./images/pic1.png');
$left-arrow:url('./images/left-arrow.png');
$plus-button:url('./images/plus.png');
$download-button:url('./images/download.png');
$attachedsignature:url('./images/pic-1.png');
$notattachedsignature--active:url('./images/pic-2.png');
$attachedsignature--active:url('./images/pic-11.png');
$notattachedsignature:url('./images/pic-12.png');
$logout:url('./images/logout.png');
$notattachedsignature:url('./images/pic-12.png');
$reloaddevice--active:url('./images/16x16.png');
$reloaddevice:url('./images/48x48.png');