@import "_global_variables.scss";


@import "mixins/_fonts.scss";

@import "utilities/_flex.scss";
@import "utilities/_spacing.scss";
@import "utilities/_sizing.scss";
@import "utilities/_colors.scss";
@import "utilities/_fonts.scss";
@import "utilities/_borders.scss";
@import "utilities/_visibility.scss";
@import "utilities/_text.scss";


@import "blocks/container/_container.scss";
@import "blocks/container/certificatecard.scss";

@import "blocks/container/header/_header.scss";

@import "blocks/container/main/_body.scss";

@import "blocks/container/devices.scss";

@import "blocks/container/modal.scss";

@import "blocks/container/_input.scss";

@import "blocks/container/main/personal";

* {

    box-sizing: border-box;
    font-family: $font-family;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    overflow-y: scroll;
    margin: 0;
    background-color: $main-second-background-color;
    font: 400 14px 'Segoe UI', 'Open Sans' !important;
}

html {
    min-height: 100%;
    font-family: 'Segoe UI';
    font-size: 14px;
}

.asdasd {
    position: absolute;
    font-size: 20px;
    left: 50%;
    cursor: pointer;

    span {
        padding: 0 10px;
    }

    .selected {
        border: blue 2px solid;
    }
}

