.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    visibility: visible;
    z-index: 1000;
}

.modal-content {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    padding: 2rem 2rem;
    min-height: 220px;
    border-radius: 0.5rem;
}

.modal-sm {
    width: 470px;
}

.modal-lg {
    width: 600px;
}

.modal_close_icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.close {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    font-size: 2.5rem;
    color: #117788;
}

.modal_title {

    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.5px;
    text-align: center;
    color: #444444;
    padding: 0 4rem;

    .modal_title--head {
        font-size: 24px;
        font-weight: bold;
    }
    
    .modal_title--info {
        font-size: 12px;
        font-weight: normal;
    }
}

.modal_actions {
    margin-top: 20px;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


.modal_actions>form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    & input {
        width: 360px;
        height: 45px;
        border-radius: 6px;
        background-color: #f5f5f5;
        border: solid 1px #dfdfdf;
        padding: 0 1rem;
        margin-bottom: 2rem;
    }
}

form>button {
    width: 180px;
    height: 45px;
    object-fit: contain;
    border-radius: 6px;
    background-color: #e7f1f3;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    text-align: center;
    color: #117788;
    border-width: 0;
}

form>button:hover {
    cursor: pointer;
}

